<h2>
  Thanks for ordering!
  <br />
  {{#if delivery}}
    Delivery should arrive in 30-40 minutes!
  {{else}}
    Pick-Up order should be ready in 15-20 minutes!
  {{/if}}
</h2>

<div>
  <h2>Pizzas</h2>
  {{#if pizzas}}
    <ul>
      {{#each pizzas}}
        <li>
          {{this.size}}
          <ul>
            <li>{{this.sauce}}</li>
            {{#if this.parmesan}}
              <li>Parmesan</li>
            {{/if}}
            {{#if this.veganParmesan}}
              <li>Vegan Parmesan</li>
            {{/if}}{{#if this.shreddedMozz}}
              <li>Shredded Mozzarella</li>
            {{/if}}
            {{#if this.veganMozz}}
              <li>Vegan Mozzarella</li>
            {{/if}}{{#if this.pepperoni}}
              <li>Pepperoni</li>
            {{/if}}{{#if this.sausage}}
              <li>Sausage</li>
            {{/if}}{{#if this.bacon}}
              <li>Bacon</li>
            {{/if}}{{#if this.salami}}
              <li>Salami</li>
            {{/if}}{{#if this.greenPeppers}}
              <li>Green Peppers</li>
            {{/if}}{{#if this.onions}}
              <li>Onions</li>
            {{/if}}{{#if this.olives}}
              <li>Olives</li>
            {{/if}}{{#if this.mushrooms}}
              <li>Mushrooms</li>
            {{/if}}
          </ul>
        </li>
      {{/each}}
    </ul>
  {{/if}}
</div>

<div>
  <h2>{{#if delivery}}Delivery {{else}} Pick-Up {{/if}} Information</h2>
  Name:
  {{deliveryInfo.name}}<br />
  Address:
  {{deliveryInfo.address}}<br />
  City:
  {{deliveryInfo.city}}<br />
  State:
  {{deliveryInfo.state}}<br />
  Zip:
  {{deliveryInfo.zip}}<br />
  Phone:
  {{deliveryInfo.phone}}<br />
  Credit Card Number:
  {{deliveryInfo.creditNum}}<br />
  Total: ${{totalPrice}}<br />
</div>